@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
.hero
{
    background: url('../../assets/hero.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
h2{
    line-height: 48px;
    font-size: 36px;
}
.divider{
    display: flex;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
}

.divider::before,.divider::after
{
    flex:1;
    content: "";
    height:  1px;
    background-color: black;
    margin: 10px;
}

.sourceSans
{
    font-family: 'Source Sans Pro', sans-serif;
}